{% extends "base.html" %}
{% block header_text %}Your To-Do list{% endblock %}
{% block form_action %}{% url 'view_list' list.id %}{% endblock %}
{% block table %}
	<table id="id_list_table" class="table">
		{% for item in list.item_set.all %}
			<tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
		{% endfor %}
  </table>
{% endblock table %}
{% block extra_content %}
  <div class="row">
    <div class="col-md-6">
      {% if list.owner != user %}
        <h2>List owner</h2>
        <p id="id_list_owner">{{ list.owner.email }}</p>
      {% else %}
        {% if list.shared_with.all %}
          <h2>List shared with</h2>
          <ul>
            {% for sharee in list.shared_with.all %}
              <li class="list-sharee">{{ sharee.email }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2>Share this list</h2>
      <form method="POST" action="/lists/{{ list.id }}/share/" id="share-list">
        {% csrf_token %}
        <input required type="email" name="email" placeholder="your-friend@example.com">
      </form>
    </div>
  </div>
{% endblock extra_content %}